<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css" />
  <title>Document</title>
</head>

<body>
  <div class="cadastro-bg">
    <div class="es1 cadastro">
      <h4 class="i-B42 black1">Cadastro</h4>
      <form th:action="@{/salvarUsuario}" th:object="${usuario}" method="post"   >
        <a href="./usuario">
          <img src="./img/Close.svg" class="close" alt="fechar">
        </a>
        <label for="nome" class="i-B16 black1">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome">

        <label for="sobrenome" class="i-B16 black1">Sobrenome</label>
        <input type="text" id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome">

        <label for="email" class="i-B16 black1">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Digite seu e-mail">

        <label for="telefone" class="i-B16 black1">Telefone</label>
        <input type="text" id="telefone" name="telefone" placeholder="Digite seu Telefone/Celular">

        <label for="cpf" class="i-B16 black1">CPF</label>
        <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF">

        <label for="senha" class="i-B16 black1">Senha</label>
        <input type="text" id="senha" name="senha" placeholder="Digite sua senha">

       
       
       
        <button class="i-B16 white">Criar conta</button>
      </form>
    </div>
  </div>
</body>

</html>